.navbar-brand > img {
    max-height: 100%;
}

@media (min-width: 768px) {
    nav.navbar.navbar-default {
        border-radius: 0px;
    }
}

body.index nav {
    margin-bottom: 0;
}

body.index div.jumbotron {
    background-image: url("/images/jumbotron_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    word-spacing: .2em;
    text-align: center;
}
