.container
  -# NOTE: After modifying the below, run the table through the provided
  -# markdown-table-cleaner.py script in the root directory. Then reindent
  -# the lines.

  :markdown
    {:.table}
    | Quantity | Item                                                                            |   Price | Purchased By | Date of Purchase | Reimbursed |
    |:--------:|:--------------------------------------------------------------------------------|--------:|:------------:|:----------------:|:----------:|
    |    1     | [Nema 17 stepper motor (3pk)](http://goo.gl/9mA4a3)                             |  $34.95 |     Eli      |                  |    yes     |
    |    1     | [Arduino mega case](http://goo.gl/hAZDKz)                                       |   $3.95 |     Eli      |                  |    yes     |
    |    1     | [Momentary switches (25pk)](http://goo.gl/4v6GZm)                               |   $6.95 |     Eli      |                  |    yes     |
    |    1     | [Arduino Mega](http://goo.gl/A03114)                                            |  $12.85 |     Eli      |                  |    yes     |
    |    1     | [Beagle Bone Black (BBB)](http://goo.gl/jAZ6Rg)                                 |  $49.88 |     Joe      |                  |     no     |
    |    1     | [4 Port USB Hub](http://goo.gl/KHM1EF)                                          |   $6.99 |     Eli      |                  |    yes     |
    |    1     | [36V 11A Power Supply](http://goo.gl/UEGy3Q)                                    |  $39.99 |     Joe      |                  |     no     |
    |    1     | [Terminal Block Connectors (50pk)](http://goo.gl/Beqmc0)                        |   $5.62 |     Eli      |                  |    yes     |
    |    1     | [DRV8825 Stepper Drivers (5pk)](http://goo.gl/7tqajH)                           |  $15.99 |     Eli      |                  |    yes     |
    |    1     | [Arduino Mega Protoboard](http://goo.gl/g6463j)                                 |   $2.20 |     Eli      |                  |    yes     |
    |    1     | [Female Header Strip (10pk)](http://goo.gl/z6c33D)                              |   $1.43 |     Eli      |                  |    yes     |
    |    1     | [Male Header Strips (10pk)](http://goo.gl/SfaiUa)                               |   $0.99 |     Eli      |                  |    yes     |
    |    1     | [USB Wi-Fi Adapter](http://goo.gl/b8PGU4)                                       |  $13.95 |     Eli      |                  |    yes     |
    |    1     | [8 GB SD Card](http://goo.gl/XW1JLU)                                            |   $5.95 |     Eli      |                  |    yes     |
    |    1     | [Nema 17 Gears & Belts (kit)](http://goo.gl/UJlI0G)                             |  $16.00 |     Alex     |                  |     no     |
    |    1     | [20W USB Wall Charger](http://goo.gl/lDK0WG)                                    |  $11.99 |     Eli      |                  |    yes     |
    |    1     | [3D Printed BBB Case](http://goo.gl/qIcgGQ)                                     |   $0.00 |     n/a      |                  |    n/a     |
    |    1     | [Shaft Couplers (5pk)](http://goo.gl/u6DdKt)                                    |   $9.50 |     Alex     |                  |     no     |
    |    4     | [Panel Mount USB Cables](http://goo.gl/rytbuW)                                  |   $1.44 |     Alex     |                  |     no     |
    |    1     | [Panel Mount HDMI Male to Female](http://goo.gl/lbsqGj)                         |   $6.00 |     Alex     |                  |     no     |
    |    1     | [Panel Mount Ethernet Cable](http://goo.gl/Wcmc5j)                              |   $2.69 |     Alex     |                  |     no     |
    |    1     | [IEC Panel Mount Receptacle](http://goo.gl/IHNByc)                              |   $2.85 |     Alex     |                  |     no     |
    |    1     | [Leveling Legs (8pk)](http://goo.gl/PslqN9)                                     |  $12.99 |     Eli      |                  |    yes     |
    |    1     | [Emergency Stop Button](http://goo.gl/1x67EU)                                   |   $1.90 |     Eli      |                  |    yes     |
    |    1     | [Nylon PCB Standoffs (kit)](http://goo.gl/xtlkQq)                               |   $8.75 |     Eli      |                  |    yes     |
    |    1     | [DPST Rocker Switch](http://goo.gl/X1btdL)                                      |    $.99 |     Eli      |                  |    yes     |
    |    1     | [USB Mouse](http://goo.gl/8IR9aH)                                               |   $5.19 |     Eli      |                  |    yes     |
    |    1     | [HDMI to Micro HDMI Adapter](http://goo.gl/AebPEh)                              |   $3.74 |     Eli      |                  |    yes     |
    |    1     | [PS/2 to USB Converter](http://goo.gl/F7ZT4p)                                   |   $2.89 |     Eli      |                  |    yes     |
    |    4     | [Piezo Vibration Sensor](http://goo.gl/Y85Dea)                                  |  $11.80 |     Alex     |                  |     no     |
    |    1     | [19V 2.5A Monitor Power Supply](http://goo.gl/54dGzL)                           |   $8.26 |     Eli      |                  |    yes     |
    |    1     | [Serial 20x4 character LCD](http://goo.gl/49x7px)                               |   $9.49 |     Eli      |                  |    yes     |
    |    1     | [Thermal Epoxy](http://goo.gl/ZRH1tH)                                           |   $6.53 |     Eli      |                  |    yes     |
    |    1     | [Panel Mount DC Barrel (10pk)](http://goo.gl/uq1rHL)                            |   $2.58 |     Eli      |                  |    yes     |
    |    1     | [Load Sensor (4pk)](http://goo.gl/AYM6rI)                                       |   $7.49 |     Eli      |                  |    yes     |
    |    1     | [Micro HDMI to HDMI Adapter](http://goo.gl/G2ghLd)                              |   $1.89 |     Eli      |                  |    yes     |
    |    1     | [Pico Hot End](http://goo.gl/wxqdXl)                                            | $123.99 |     Alex     |     1-22-15      |    yes     |
    |    1     | [Assorted Circuit Boards (40pk)](http://goo.gl/G2ghLd)                          |  $12.33 |     Eli      |                  |    yes     |
    |    1     | [Logitech C920 Webcam](http://goo.gl/NTJLke)                                    |  $69.95 |     Alex     |     1-22-15      |    yes     |
    |    1     | [Adafruit 5" Touch Screen](http://goo.gl/m1PNps)                                |  $69.95 |     Ben      |     1-15-15      |    yes     |
    |    1     | [Triple Axis Accelerometer and Gyro](http://goo.gl/7O961v)                      |  $19.95 |     Ben      |     1-15-15      |    yes     |
    |    2     | [Terminal Block](http://goo.gl/CRjdRx)                                          |  $10.18 |     Joe      |     11-22-14     |     no     |
    |    2     | [Terminal Barrier Strips 5pk (red)](http://goo.gl/Ra1ljt)                       |  $12.48 |     Joe      |     11-22-14     |     no     |
    |    1     | [Acrylic Sheets](http://goo.gl/gbCspM)                                          | $150.55 |     Eli      |     1-16-15      |    yes     |
    |    1     | [Aluminum Plates](http://www.discountsteel.com/items/5052_Aluminum_Plate.cfm)   | $385.32 |     Eli      |     1-16-15      |    yes     |
    |    1     | [Mini Pan-Tilt Kit](http://goo.gl/6Xrp3u)                                       |  $18.95 |     Ben      |     1-15-15      |    yes     |
    |    1     | [40" Trapezoidal Lead Screw, 10 X 2, RH, Stainless Steel](http://goo.gl/JbEi6F) | $130.76 |   William    |     1-24-15      |    yes     |
    |    2     | [25" Trapezoidal Lead Screw, 10 X 2, RH, Stainless Steel](http://goo.gl/JbEi6F) | $196.14 |   William    |     1-24-15      |    yes     |
    |    1     | [27" Trapezoidal Lead Screw, 10 X 2, RH, Stainless Steel](http://goo.gl/JbEi6F) |  $98.07 |   William    |     1-24-15      |    yes     |
    |    4     | [Flange, Steel](http://goo.gl/dY5zlb)                                           | $132.20 |   William    |     1-24-15      |    yes     |
    |    4     | [Trapezoidal Threaded Mount Nut, 10 X 2, RH, Bronze](http://goo.gl/smxPhK)      |  $92.96 |   William    |     1-24-15      |    yes     |
    |    1     | [Trapezoidal Sleeve Nut](http://goo.gl/uVr4E6)                                  |  $21.98 |   William    |     1-24-15      |    yes     |
    |    1     | [Domain Name](https://www.gandi.net/)                                           |   $4.00 |   William    |     12-17-14     |    yes     |
    |    1     | [Drill Guide](http://goo.gl/JwweYM)                                             |  $35.57 |     Eli      |     4-11-15      |    yes     |
