---
title: Under Construction
---
<div class="jumbotron">
  <div class="container">
    <h1>We're building a better builder.</h1>

    <h4>Project Zen is aiming to build a 3D protyping machine to encourage the
      maker inside every student.  We're documenting our process and designs and
      making them open to everyone so that others can reproduce and build upon
      our work.</h4>
  </div>
</div>

